<div class="ngx-helper-gallery-background" *ngIf="loading">
    <ngx-helper-loading></ngx-helper-loading>
</div>

<div class="ngx-helper-gallery-controls">
    <mat-icon class="ngx-helper-icon" mat-dialog-close>close</mat-icon>
    <div class="seperator"></div>
    <mat-icon class="ngx-helper-icon" (click)="changeIndex(-1)">arrow_back_ios</mat-icon>
    <div class="counter">{{ index + 1 | number }} از {{ images.length | number }}</div>
    <mat-icon class="ngx-helper-icon" (click)="changeIndex(1)">arrow_forward_ios</mat-icon>
</div>

<div class="ngx-helper-gallery-preview" *ngIf="!loading" mat-dialog-close>
    <img
        [src]="image"
        [@image]
        [ngStyle]="{
            'max-height': 'calc(100vh - ' + (description ? '15rem' : '8rem') + ')',
            'margin-bottom': description ? '7rem' : 0
        }"
    />
    <div *ngIf="description" class="description" [@description]>
        <div class="description-text" [innerHTML]="description | ngxHelperMultiLine : { html }"></div>
    </div>
</div>
