<div>MAT_DIALOG_DATA</div>
<div>{{ data | json }}</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="buttons">
    <button mat-flat-button type="button" color="primary" class="submit" (click)="close(true)">تایید اطلاعات</button>
    <button mat-stroked-button type="button" color="primary" (click)="close()">بستن</button>
</div>
