<div>
    <div><strong>CONNECTION:</strong> {{ connection }}</div>
    <div><strong>LOADING:</strong> {{ loading }}</div>
    <div>
        <strong>LOCATION:</strong>
        {{ location === undefined ? '...' : location === false ? 'ERROR' : (location | json) }}
    </div>
</div>

<ngx-utils-params [params]="params1" (changed)="log('PARAMS1', $event)"></ngx-utils-params>
<ngx-utils-params [params]="params2" (changed)="log('PARAMS2', $event)"></ngx-utils-params>
<ngx-utils-params [params]="params4" (changed)="log('PARAMS4', $event)"></ngx-utils-params>
<ngx-utils-params [params]="params5" (changed)="log('PARAMS5', $event)"></ngx-utils-params>
<div class="params-page">
    <ngx-utils-params
        [params]="params3"
        [page]="paramsPage"
        [update]="params3Update"
        (changed)="log('PARAMS3', $event)"
    ></ngx-utils-params>
    <select (change)="paramsPage = +paramsPageSelect.value" #paramsPageSelect>
        <option *ngFor="let page of [1, 2, 3, 4, 5, 6, 7, 8, 9]" [value]="page">{{ page }}</option>
    </select>
    <button mat-flat-button type="button" color="primary" (click)="changeParam()">CHANGE</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="download(true)">Download OK</button>
    <button mat-flat-button type="button" color="primary" (click)="download(false)">Download ERROR</button>
    <input type="file" style="display: none" [multiple]="false" (change)="upload($event)" #fileUpload />
    <button mat-flat-button type="button" color="primary" (click)="fileUpload.value = ''; fileUpload.click()">
        Upload
    </button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="warn" style="background-color: #bd362f" (click)="toast('ERROR')">
        ERROR
    </button>
    <button mat-flat-button type="button" color="accent" style="background-color: #2f96b4" (click)="toast('INFO')">
        INFO
    </button>
    <button mat-flat-button type="button" color="primary" style="background-color: #51a351" (click)="toast('SUCCESS')">
        SUCCESS
    </button>
    <button mat-flat-button type="button" color="primary" style="background-color: #f89406" (click)="toast('WARNING')">
        WARNING
    </button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="getDate(1)">DATE</button>
    <button mat-flat-button type="button" color="primary" (click)="getDate(2)">DATE</button>
    <button mat-flat-button type="button" color="primary" (click)="getDate(3)">DATE</button>
    <button mat-flat-button type="button" color="primary" (click)="getDate(4)">DATE</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="getWeek(1)">WEEK</button>
    <button mat-flat-button type="button" color="primary" (click)="getWeek(2)">WEEK</button>
    <button mat-flat-button type="button" color="primary" (click)="getWeek(3)">WEEK</button>
    <button mat-flat-button type="button" color="primary" (click)="getWeek(4)">WEEK</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="getMonth(1)">MONTH</button>
    <button mat-flat-button type="button" color="primary" (click)="getMonth(2)">MONTH</button>
    <button mat-flat-button type="button" color="primary" (click)="getMonth(3)">MONTH</button>
    <button mat-flat-button type="button" color="primary" (click)="getMonth(4)">MONTH</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="getYear(1)">YEAR</button>
    <button mat-flat-button type="button" color="primary" (click)="getYear(2)">YEAR</button>
    <button mat-flat-button type="button" color="primary" (click)="getYear(3)">YEAR</button>
    <button mat-flat-button type="button" color="primary" (click)="getYear(4)">YEAR</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showButtomSheet()">BottomSheet</button>
    <button mat-flat-button type="button" color="primary" (click)="showDialog()">Dialog</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showPreview(true)">Preview 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showPreview(true, true)">Preview 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showPreview(false)">Preview 3</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showGallery()">Gallery 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showGallery(1)">Gallery 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showGallery(2, true)">Gallery 3</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showMap(1)">Map 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(2)">Map 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(3)">Map 3</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(4)">Map 4</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE')">ACTIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('ARCHIVE')">ARCHIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('BLOCK')">BLOCK</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('DEACTIVE')">DEACTIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('DELETE')">DELETE</button>
    <button mat-flat-button type="button" color="accent" (click)="confirm()">CUSTOM</button>
    <button mat-flat-button type="button" color="primary" (click)="confirm('EMPTY')">EMPTY</button>
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE', true)">DESCRIPTION</button>
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE', 'REQUIRED')">REQUIRED</button>
</div>

<div class="menu">
    <ngx-utils-menu [menu]="singleMenu"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [border]="1"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [icon]="'menu'"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [border]="1"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [icon]="'menu'" [color]="'accent'"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [icon]="'menu'" [color]="'warn'" [border]="1"></ngx-utils-menu>
</div>

<ngx-utils-calendar [minDate]="previousDate" [maxDate]="nextDate" (changed)="log($event)"></ngx-utils-calendar>

<ngx-utils-box title="نمایش باکس" icon="home" [component]="boxComponent"></ngx-utils-box>

<ngx-utils-box title="پایپ‌ها" [component]="pipeComponent"></ngx-utils-box>

<app-values></app-values>

<app-list></app-list>

<ngx-utils-pagination
    [current]="paginationCurrent"
    [total]="paginationTotal"
    [margin]="0"
    (page)="log($event); paginationCurrent = $event"
></ngx-utils-pagination>

<ngx-utils></ngx-utils>
