<div>
    <div><strong>CONNECTION:</strong> {{ connection }}</div>
    <div><strong>LOADING:</strong> {{ loading }}</div>
    <div>
        <strong>LOCATION:</strong>
        {{ location === undefined ? '...' : location === false ? 'ERROR' : (location | json) }}
    </div>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="download(true)">Download OK</button>
    <button mat-flat-button type="button" color="primary" (click)="download(false)">Download ERROR</button>
    <input type="file" style="display: none" [multiple]="false" (change)="upload($event)" #fileUpload />
    <button mat-flat-button type="button" color="primary" (click)="fileUpload.value = ''; fileUpload.click()">
        Upload
    </button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="warn" style="background-color: #bd362f" (click)="toast('ERROR')">
        ERROR
    </button>
    <button mat-flat-button type="button" color="accent" style="background-color: #2f96b4" (click)="toast('INFO')">
        INFO
    </button>
    <button mat-flat-button type="button" color="primary" style="background-color: #51a351" (click)="toast('SUCCESS')">
        SUCCESS
    </button>
    <button mat-flat-button type="button" color="primary" style="background-color: #f89406" (click)="toast('WARNING')">
        WARNING
    </button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showButtomSheet()">BottomSheet</button>
    <button mat-flat-button type="button" color="primary" (click)="showDialog()">Dialog</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showPreview(true)">Preview 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showPreview(true, true)">Preview 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showPreview(false)">Preview 3</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showGallery()">Gallery 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showGallery(1)">Gallery 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showGallery(2, true)">Gallery 3</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="showMap(1)">Map 1</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(2)">Map 2</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(3)">Map 3</button>
    <button mat-flat-button type="button" color="primary" (click)="showMap(4)">Map 4</button>
</div>

<div class="buttons">
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE')">ACTIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('ARCHIVE')">ARCHIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('BLOCK')">BLOCK</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('DEACTIVE')">DEACTIVE</button>
    <button mat-flat-button type="button" color="warn" (click)="confirm('DELETE')">DELETE</button>
    <button mat-flat-button type="button" color="accent" (click)="confirm()">CUSTOM</button>
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE', true)">DESCRIPTION</button>
    <button mat-flat-button type="button" color="primary" (click)="confirm('ACTIVE', 'REQUIRED')">REQUIRED</button>
</div>

<div class="menu">
    <ngx-utils-menu [menu]="menu" [border]="1"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [icon]="'menu'"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [border]="1"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [icon]="'menu'" [color]="'accent'"></ngx-utils-menu>
    <ngx-utils-menu [menu]="menu" [title]="'منو'" [icon]="'menu'" [color]="'warn'" [border]="1"></ngx-utils-menu>
</div>

<ngx-utils-box title="نمایش باکس" icon="home" [component]="boxComponent"></ngx-utils-box>

<ngx-utils-box title="پایپ‌ها" [component]="pipeComponent"></ngx-utils-box>

<app-list></app-list>

<ngx-utils-pagination
    [current]="paginationCurrent"
    [total]="paginationTotal"
    [margin]="0"
    (page)="log($event); paginationCurrent = $event"
></ngx-utils-pagination>

<ngx-utils></ngx-utils>
