$primary-palette: (
    50: #e4ebee,
    100: #bbced5,
    200: #8eadba,
    300: #618c9e,
    400: #3f7489,
    500: #1d5b74,
    600: #1a536c,
    700: #154961,
    800: #114057,
    900: #0a2f44,
    A100: #7bc9ff,
    A200: #48b4ff,
    A400: #15a0ff,
    A700: #0094fb,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #ffffff,
    ),
);

$accent-palette: (
    50: #fcf7f2,
    100: #f7ecde,
    200: #f2dfc9,
    300: #ecd2b3,
    400: #e8c8a2,
    500: #e4be92,
    600: #e1b88a,
    700: #ddaf7f,
    800: #d9a775,
    900: #d19963,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffecda,
    A700: #ffdec0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$warn-palette: (
    50: #ffe6e4,
    100: #ffc1bb,
    200: #ff988d,
    300: #ff6f5f,
    400: #ff503d,
    500: #ff311b,
    600: #ff2c18,
    700: #ff2514,
    800: #ff1f10,
    900: #ff1308,
    A100: #ffffff,
    A200: #fff4f4,
    A400: #ffc3c1,
    A700: #ffaaa7,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
