@if (tags.length !== 0) {
<div class="ngx-helper-tags" [ngStyle]="{ padding: padding || 0 }">
    <!-- TAGS -->
    @for (tag of tags; track $index) {
    <div
        [ngClass]="['tag', 'ngx-helper-color-' + (tag.color || 'primary')]"
        [ngStyle]="{ cursor: tag.click ? 'pointer' : 'default' }"
        (click)="click(tag.click)"
    >
        <mat-icon [fontIcon]="tag.icon || 'local_offer'" class="ngx-helper-icon"></mat-icon>
        <div class="value" [innerHTML]="tag.value | ngxHelperValue"></div>
        <!-- DESCRIPTION -->
        @if (tag.description) {
        <div class="description">{{ tag.description }}</div>
        }
    </div>
    }
</div>
}
