<div class="ngx-helper-tags" *ngIf="tags.length !== 0">
    <div
        [ngClass]="['tag', 'ngx-helper-color-' + (tag.color || 'primary')]"
        *ngFor="let tag of tags"
        [ngStyle]="{ cursor: tag.click ? 'pointer' : 'default' }"
        (click)="click(tag.click)"
    >
        <mat-icon [fontIcon]="tag.icon || 'local_offer'" class="ngx-helper-icon"></mat-icon>
        <div class="value" [innerHTML]="tag.value | ngxHelperValue"></div>
        <div class="description" *ngIf="tag.description">{{ tag.description }}</div>
    </div>
</div>
