<!-- BACKGROUND -->
@if (showMonth) {
<div class="background" (click)="showMonth = false"></div>
}

<section class="header">
    <div class="title">{{ title }}</div>
    <mat-icon [fontIcon]="'close'" mat-dialog-close></mat-icon>
</section>

<section class="icons">
    <div [ngClass]="{ month: true, 'month-open': showMonth }" (click)="showMonth = !showMonth">
        {{ calendar.title }}
        <mat-icon [fontIcon]="showMonth ? 'expand_less' : 'expand_more'"></mat-icon>
    </div>

    <div class="seperator"></div>
    <mat-icon [fontIcon]="'keyboard_double_arrow_right'" (click)="changeMonth(-12)"></mat-icon>
    <mat-icon [fontIcon]="'chevron_right'" (click)="changeMonth(-1)"></mat-icon>
    <mat-icon [fontIcon]="'radio_button_checked'" (click)="changeMonth(0)"></mat-icon>
    <mat-icon [fontIcon]="'chevron_left'" (click)="changeMonth(1)"></mat-icon>
    <mat-icon [fontIcon]="'keyboard_double_arrow_left'" (click)="changeMonth(12)"></mat-icon>
</section>

<section class="names">
    <!-- NAMES -->
    @for (day of ['ش', 'ی', 'د', 'س', 'چ', 'پ', 'ج']; track $index) {
    <div class="name">{{ day }}</div>
    }

    <!-- MONTH -->
    @if (showMonth) {
    <div class="month">
        <div class="header">
            <mat-icon
                [fontIcon]="'keyboard_double_arrow_right'"
                (click)="years.value = (+years.value - 10).toString()"
            ></mat-icon>
            <mat-icon [fontIcon]="'chevron_right'" (click)="years.value = (+years.value - 1).toString()"></mat-icon>
            <input type="text" [value]="month.substring(0, 4)" readonly #years />
            <mat-icon [fontIcon]="'chevron_left'" (click)="years.value = (+years.value + 1).toString()"></mat-icon>
            <mat-icon
                [fontIcon]="'keyboard_double_arrow_left'"
                (click)="years.value = (+years.value + 10).toString()"
            ></mat-icon>
        </div>

        <!-- SEASON -->
        @for (season of seasons; track s; let s = $index ) {
        <div class="season">
            <!-- MONTH -->
            @for (month of season; track m; let m = $index) {
            <div class="month-name" (click)="changeCalendar(+years.value, s * 3 + m + 1)">
                {{ month }}
            </div>
            }
        </div>
        }
    </div>
    }
</section>

<!-- WEEK -->
@for ( week of calendar.weeks; track $index) {
<section class="days">
    <!-- DAYS -->
    @for (day of week; track $index) {
    <div
        [ngClass]="{
            day: true,
            today: day.date === today,
            current: day.date === current,
            disable: day.month !== month || day.date > maxDate || day.date < minDate
        }"
        (click)="setDate(day.month !== month || day.date > maxDate || day.date < minDate ? null : day.date)"
    >
        {{ day.day }}
    </div>
    }
</section>
}
