<div
    id="ngx-helper-map"
    class="ngx-helper-map"
    (dblclick)="setCoordinates($event)"
    (contextmenu)="setCoordinates($event)"
></div>

<footer>
    <content>
        <div class="ngx-helper-coordinate">
            <div class="ngx-helper-title">Latitude:</div>
            {{ coordinates?.latitude || '' }}
        </div>
        <div class="ngx-helper-coordinate">
            <div class="ngx-helper-title">Longitude:</div>
            {{ coordinates?.longitude || '' }}
        </div>
        <!-- SELECT -->
        @if (coordinates) { <mat-icon class="ngx-helper-icon" (click)="select()">done_all</mat-icon> }
        <mat-icon class="ngx-helper-icon" mat-dialog-close>close</mat-icon>
    </content>
</footer>
