.ngx-helper-progress {
    display: block;
    position: relative;

    border: 1px solid var(--ngxHelperBorderColor);

    .background {
        position: absolute;
        transition: width 0.35s ease-out, height 0.35s ease-out;
    }

    .background-LR,
    .background-RL {
        top: 0;
        bottom: 0;
    }

    .background-LR {
        left: 0;
    }

    .background-RL {
        right: 0;
    }

    .background-TB,
    .background-BT {
        right: 0;
        left: 0;
    }

    .background-TB {
        top: 0;
    }

    .background-BT {
        bottom: 0;
    }

    .content {
        position: relative;
    }
}
