<div class="ngx-helper-progress" [ngStyle]="{ 'border-width': border + 'px' }" *ngIf="show">
    <div
        [ngClass]="['background', 'background-' + align]"
        [ngStyle]="{
            width: direction === 'H' ? percent + '%' : '100%',
            height: direction === 'V' ? percent + '%' : '100%',
            'background-color': color || 'var(--ngxHelperBackgroundColor)'
        }"
    ></div>
    <div class="content" #contentView>
        <ng-container *ngIf="component">
            <ng-container *ngComponentOutlet="component"></ng-container>
        </ng-container>
        <ng-content></ng-content>
    </div>
</div>
