.ngx-helper-plate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 0.35rem;

    direction: rtl;
    padding-left: 0.5rem;
    border-radius: 4px;
    font-size: var(--ngxHelperFontSize);
    font-family: var(--ngxHelperFaFont);

    .ngx-helper-plate-left,
    .ngx-helper-plate-letter,
    .ngx-helper-plate-right {
        font-weight: 500;
    }

    .ngx-helper-plate-iran {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-left: 0.5rem;
        padding: 0.25rem 0.5rem 0 0.5rem;
        background-color: var(--ngxHelperBackgroundColor);
        border-radius: 0 4px 4px 0;
        color: var(--ngxHelperPrimaryColor);

        .ngx-helper-plate-text {
            font-size: calc(var(--ngxHelperFontSize) - 3px);
            line-height: 1;
        }

        .ngx-helper-plate-value {
            font-weight: 500;
        }
    }
}
