@if (show) {
<div class="ngx-helper-plate" [ngStyle]="{ border: border ? '1px solid var(--ngxHelperBorderColor)' : 'none' }">
    <div class="ngx-helper-plate-left">{{ plate[0] }}</div>
    <div class="ngx-helper-plate-letter">{{ plate[1] === 'ا' ? 'الف' : plate[1] }}</div>
    <div class="ngx-helper-plate-right">{{ plate[2] }}</div>
    <div class="ngx-helper-plate-iran" [ngStyle]="{ height: height ? height + 'px' : 'auto' }">
        <div class="ngx-helper-plate-text">ایران</div>
        <div class="ngx-helper-plate-value">{{ plate[3] }}</div>
    </div>
</div>
}
