<input type="text" [ngClass]="{ en: !!param.english }" (input)="filter(searchInput.value)" autofocus #searchInput />
<!-- OPTIONS -->
@if (options.length !== 0) {
<div
    [ngClass]="{
        options: true,
        'options-en': !!param.english,
        'options-list': !!param.list,
        'options-list-en': !!param.list && !!param.english
    }"
>
    <!-- OPTIONS -->
    @for (option of options; track $index) {
    <div class="option" (click)="select(option.id)">{{ option.title }}</div>
    }
</div>
} @else {
<mat-icon [fontIcon]="'search_off'" class="ngx-helper-icon"></mat-icon>
}
