@if (paramGroups.length !== 0) {
<div class="ngx-helper-param-group">
    <!-- GROUPS -->
    @for (params of paramGroups; track groupIndex; let groupIndex = $index) {
    <div class="ngx-helper-param-item">
        <!-- PARAMS -->
        @for (param of params; track paramIndex; let paramIndex = $index) { @if (param !== 'SEPERATOR') { @switch
        (param.type) {
        <!-- BOOLEAN -->
        @case ('BOOLEAN') {
        <div class="ngx-helper-boolean">
            <mat-icon
                [ngClass]="{ 'ngx-helper-icon': true, selected: values[param.name] }"
                [fontIcon]="param.icon || 'star'"
                (click)="setBoolean(param)"
            ></mat-icon>
        </div>
        }

        <!-- MENU -->
        @case ('MENU') {
        <ngx-helper-menu
            [menu]="menus[param.name]"
            [title]="param.title"
            [icon]="param.icon"
            [border]="1"
            class="ngx-helper-menu"
        ></ngx-helper-menu>
        }

        <!-- OTHERS -->
        @default {
        <div
            class="ngx-helper-param"
            [ngStyle]="{
                width: param.width || width ? (param.width || width) + 'px' : 'auto',
                flex: param.width || width ? 'none' : param.flex || 1
            }"
        >
            @switch (param.type) {
            <!-- COMMENT -->
            @case ('COMMENT') {
            <div class="title">{{ param.title }}</div>
            <div [ngClass]="{ value: true, en: !!param.english }">{{ param.value }}</div>
            }

            <!-- DATE -->
            @case ('DATE') {
            <div class="title">{{ param.title || 'تاریخ' }}</div>
            <div class="value" (click)="setDate(param)">
                {{ values[param.name] ? (values[param.name] | ngxHelperJalali : { format: 'd N Y' }) : '&nbsp;' }}
            </div>
            <mat-icon
                class="ngx-helper-icon"
                [fontIcon]="values[param.name] && !param.required ? 'close' : 'calendar_month'"
                (click)="values[param.name] && !param.required ? resetValue(param) : setDate(param)"
            ></mat-icon>
            }

            <!-- PLATE -->
            @case ('PLATE') {
            <div class="title">{{ param.title || 'پلاک' }}</div>
            <div class="value value-plate" (click)="setPlate(param)">
                @if (values[param.name]) {
                <ngx-helper-plate
                    [plate]="values[param.name].split('-')"
                    [border]="false"
                    [height]="height - 2"
                ></ngx-helper-plate>
                }
            </div>
            <mat-icon
                class="ngx-helper-icon"
                [fontIcon]="values[param.name] ? 'close' : 'calendar_month'"
                (click)="values[param.name] ? resetValue(param) : setPlate(param)"
            ></mat-icon>
            }

            <!-- SEARCH -->
            @case ('SEARCH') {
            <div class="title">{{ param.title || 'جستجو' }}</div>
            <input
                type="text"
                [value]="values[param.name] || ''"
                [ngClass]="{ en: !!param.english }"
                (change)="setSearch(param, searchInput.value)"
                #searchInput
            />
            <mat-icon [fontIcon]="'search'" class="ngx-helper-icon"></mat-icon>
            }

            <!-- SELECT -->
            @case ('SELECT') {
            <div class="title">{{ param.title || '' }}</div>
            <div
                [ngClass]="{ value: true, 'value-en': !!param.english }"
                [ngStyle]="{ 'padding-left': !!param.english && !!param.required ? '35px' : '0.5rem' }"
                (click)="param.list || param.options.length > 14 ? getSelect(param) : null"
                #menuTrigger
            >
                {{ getSelectTitle(param, values[param.name]) || '&nbsp;' }}
            </div>

            <!-- MENU -->
            @if (!param.list && param.options.length <= 14) {
            <ngx-helper-menu
                [icon]="param.icon || 'keyboard_double_arrow_down'"
                [menu]="menus[param.name]"
                [tigger]="menuTrigger"
                [xPosition]="'before'"
                [ngStyle]="{ position: values[param.name] ? 'absolute' : 'static' }"
            ></ngx-helper-menu>
            }

            <!-- ICON -->
            @if (param.list || param.options.length > 14 || (values[param.name] && !param.required)) {
            <mat-icon
                class="ngx-helper-icon"
                [fontIcon]="
                    values[param.name] && !param.required ? 'close' : param.icon || 'keyboard_double_arrow_down'
                "
                (click)="values[param.name] && !param.required ? resetValue(param) : getSelect(param)"
            ></mat-icon>
            } } }
        </div>
        } } }

        <!-- ORDER -->
        @if ( groupIndex === paramGroups.length - 1 && paramIndex === paramGroups[groupIndex].length - 1 && order &&
        order.options.length !== 0 ) {
        <div
            class="ngx-helper-order"
            [ngStyle]="{
                width: order.width || width ? (order.width || width) + 'px' : 'auto',
                flex: order.width || width ? 'none' : order.flex || 1
            }"
        >
            <div class="title">{{ order.title || 'ترتیب' }}</div>
            <div class="option" #orderMenuTrigger>{{ getOrderTitle() }}</div>
            <!-- MENU -->
            @if (orderMenu.length > 1) {
            <ngx-helper-menu [menu]="orderMenu" [xPosition]="'before'" [tigger]="orderMenuTrigger"></ngx-helper-menu>
            }
            <mat-icon
                class="ngx-helper-icon"
                [fontIcon]="'filter_list'"
                [ngStyle]="{ transform: this.orderValue.type === 'ASC' ? 'rotateX(180deg)' : 'rotateX(0deg)' }"
                (click)="changeOrderType()"
            ></mat-icon>
            <div class="background"></div>
        </div>
        } }
    </div>
    }
</div>
}
