<div class="ngx-helper-preview" mat-dialog-close>
    <ngx-helper-loader *ngIf="loading"></ngx-helper-loader>
    <ng-container *ngIf="!loading">
        <img
            [src]="image"
            [@image]
            [ngStyle]="{
                'max-height': 'calc(100vh - ' + (description ? '11rem' : '4rem') + ')',
                'margin-bottom': description ? '7rem' : 0
            }"
        />
        <div *ngIf="description" class="description" [@description]>
            <div class="description-text" [innerHTML]="description | ngxHelperMultiLine : { html }"></div>
        </div>
    </ng-container>
</div>
