@if (current && total && total > 1) {
<div class="ngx-helper-pagination" [ngStyle]="{ 'margin-top': margin.toString() + 'rem' }">
    <!-- BUTTONS -->
    @for (p of list; track $index) {
    <!-- BUTTON -->
    @if (p === '.') {
    <!-- SPACE -->
    <div class="space"></div>
    } @else {
    <!-- PAGE -->
    <button
        mat-stroked-button
        type="button"
        color="primary"
        [disabled]="current.toString() === p"
        (click)="page.emit(+p)"
    >
        {{ +p | number }}
    </button>
    } }
</div>
}
