<div
    *ngIf="current && total && total > 1"
    class="ngx-helper-pagination"
    [ngStyle]="{ 'margin-top': margin.toString() + 'rem' }"
>
    <ng-container *ngFor="let p of list">
        <div class="space" *ngIf="p === '.'; else showButton"></div>
        <ng-template #showButton>
            <button
                mat-stroked-button
                type="button"
                color="primary"
                [disabled]="current.toString() === p"
                (click)="page.emit(+p)"
            >
                {{ +p | number }}
            </button>
        </ng-template>
    </ng-container>
</div>
