@if (title && show) {
<div class="ngx-helper-box">
    <div [ngClass]="{ title: true, 'title-menu': menu.length !== 0 }">
        <span>{{ title }}</span>
        <!-- ICON -->
        @if (icon && menu.length === 0) { <mat-icon class="ngx-helper-icon" [fontIcon]="icon"></mat-icon> }
        <!-- MENU -->
        @if (menu.length > 0) { <ngx-helper-menu [menu]="menu" [icon]="icon"></ngx-helper-menu> }
    </div>
    <div class="component" [ngStyle]="{ padding: padding }" #contentView>
        <!-- COMPONENT -->
        @if (component) { <ng-container *ngComponentOutlet="component"></ng-container> }
        <ng-content></ng-content>
    </div>
</div>
}
