.plate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 1rem;
    position: relative;

    input {
        flex: 1;
        width: 100%;
        font-size: var(--ngxHelperFontSize);
        font-family: var(--ngxHelperEnFont);
        text-align: center !important;
        padding: 0.5rem !important;
        background-color: var(--ngxHelperBackgroundColor);
        direction: ltr;
        border: none;
        outline: none;
    }

    input:nth-of-type(2) {
        flex: 1.5;
    }

    mat-select {
        flex: 1;
        text-align: center;
        padding: 0.25rem !important;
        background-color: var(--ngxHelperBackgroundColor);
    }

    .iran {
        position: absolute;
        right: 0;
        rotate: 90deg;
        font-size: 80%;
    }
}

button {
    width: 100%;
    margin-top: 1rem;
}

:host ::ng-deep .mat-mdc-select-arrow-wrapper {
    transform: none !important;
}

::ng-deep .ngx-helper-plate-panel {
    padding: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    direction: rtl;
    min-width: 225px;

    .mat-mdc-option {
        min-height: auto;
        padding: 1.5rem 0 !important;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin: 0 !important;
        }
    }

    .mat-pseudo-checkbox {
        display: none;
    }
}
