<!-- SINGLE BUTTON -->
@if (menu.length === 1 && menu[0] !== 'SEPERATOR') {
<button
    mat-button
    type="button"
    class="ngx-helper-menu"
    [ngStyle]="{ border: border.toString() + 'px solid var(--ngxHelperBorderColor)' }"
    [disabled]="menu[0].disableOn && menu[0].disableOn()"
    (click)="click(menu[0].click)"
>
    <div [ngClass]="['label', 'ngx-helper-color-' + (menu[0].color || 'primary')]">
        <mat-icon [fontIcon]="menu[0].icon || icon || 'more_vert'" class="ngx-helper-icon"></mat-icon>
        <!-- TITLE -->
        @if (title) {
        <div class="title">{{ title }}</div>
        }
    </div>
</button>
}

<!-- MULTIPLE BUTTONS -->
@if (menu.length > 1) {
<ng-container>
    <button
        mat-button
        type="button"
        class="ngx-helper-menu"
        [color]="color"
        [ngStyle]="{ border: border.toString() + 'px solid var(--ngxHelperBorderColor)' }"
        [matMenuTriggerFor]="ngxHelperMenu"
    >
        <div class="label">
            <!-- ICON -->
            @if (icon) { <mat-icon [fontIcon]="icon" class="ngx-helper-icon"></mat-icon> }
            <!-- TITLE -->
            @if (title) {
            <div class="title">{{ title }}</div>
            }
        </div>
    </button>
    <mat-menu
        #ngxHelperMenu="matMenu"
        class="ngx-helper-menu-panel"
        [xPosition]="xPosition"
        [yPosition]="yPosition"
        (close)="menuClose.emit($event)"
    >
        <!-- MENU -->
        @for (m of menu; track $index) {
        <!-- SEPERATOR -->
        @if (m === 'SEPERATOR' && ($index === 0 || menu[$index - 1] !== 'SEPERATOR')) {
        <div class="ngx-helper-menu-seperator"></div>
        }
        <!-- BUTTON -->
        @if (m !== 'SEPERATOR') {
        <button mat-menu-item type="button" [disabled]="m.disableOn && m.disableOn()" (click)="click(m.click)">
            <div [ngClass]="['label' + (m.english ? '-en' : ''), 'ngx-helper-color-' + (m.color || 'primary')]">
                <!-- ICON -->
                @if (m.icon) {
                <mat-icon [ngClass]="['ngx-helper-icon', 'ngx-helper-color-' + (m.color || 'primary')]">
                    {{ m.icon }}
                </mat-icon>
                }
                <div class="title">{{ m.title }}</div>
            </div>
        </button>
        } }
    </mat-menu>
</ng-container>
}
